.img{
    width: 200px;
    height: 200px;
    padding: 19px 17px 0px 52px;
}
.card-height{
    height:415px;
    
}
.button{
    font-size: 16px;
    font-weight: 600;
    background-color: lightcoral;
    color: white;
    cursor: pointer;
}
.button-1
{
    width: 200px;
    height: 45px;
    align-items: center;
    margin-left: 40px;
    
    
}
.button-align{
    display: flex;
    width: 90px;
    justify-content: space-between;
    padding-left: 115px;
    
}
.Category-1{
    padding-top: 14px;
    font-weight: 600;
    text-align: center;
}